.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    min-height: 11cm;
    margin: 0px 20px;
    text-align: center;
    font-family: arial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid #fe8235;
  }
  
  .price {
    color: grey;
    font-size: 15px;
  }
  .card img{
    width: 100%;
  }

  h5{
    margin: 15px 0;
    color: black;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 0px 7px 7px;
    font-weight: 400;
    color: black;
    background-color: #fe8235;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    bottom: -21px;
    border-top: 5px solid #fe8235;
    border-left: 5px solid #fe8235;
    border-right: 5px solid #fe8235;
    font-family: 'Maven Pro', sans-serif;
  }
