.BoysPanel {
  background: black;
  /* border: 2px solid yellow; */
}

.BoysnavSelection {
  display: flex;
  flex: row;
  justify-content: center;
}

@media screen and (max-width: 575px) {
  /* .BoysPanel{
    margin-top: -20px;
  } */
  .navHeading {
    font-size: medium;
  }
}

.btn {
  border: none;
  font-size: large;
  background: black;
}
.btn:hover {
  color: #fe8235;
  background: black;
}

.bNavigator {
  margin-top: 11px;
}
