/* navbar css */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');


.navbar {
  min-height: 10vh;
  background: #fe8235;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 600;
}
 
.navbar-brand {
  font-size: xx-large;
  font-weight: bolder;
}

@media screen and (max-width: 991px) {
  .basket {
    margin: 10px 0;
  } 

  .navbar-toggler{
    padding: 8px 5px;
    padding-bottom: 3px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    font-size: x-large;
    font-weight: 900;
  }
}

.navbar-toggler{
  height: auto;
  border-color: #fe8235;
  transform: rotate(270deg);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}


.counting {
  color: white;
  background-color: black;
  font-size: 14px;
  position: relative;
  top: -15px;
  border-radius: 100px;
  padding: 1px 5px;
  margin-right: 10px;
  font-weight: 700;
}

.card-details-img {
  max-height: 25px;
  margin-left: 10px;
}

.btn{
  background: black;
  color: white;
  margin-bottom: 10px;
}
