/* navbar css */

.navbar {
  min-height: 10vh;
  background: #fe8235;
}

.navbar-brand {
  font-size: xx-large;
  font-weight: bolder;
}

@media screen and (max-width: 991px) {
  .basket {
    margin: 10px 0;
  } 
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    font-size: x-large;
    font-weight: 900;
  }
}

@media screen and (max-width: 575px) {
  .navbar-brand {
    font-size: large;
    font-weight: 900;
  }
}

.counting {
  color: white;
  background-color: black;
  font-size: 14px;
  position: relative;
  top: -15px;
  border-radius: 100px;
  padding: 1px 5px;
  margin-right: 10px;
  font-weight: 700;
}

.card-details-img {
  max-height: 25px;
  margin-left: 10px;
}

.btn{
  background: black;
  color: white;
}
