.GirlsPanel{
    padding-top: 40px;
    /* height: 530px; */
    background: black; 
    /* border: 2px solid yellow; */
} 

.GirlsnavSelection{
    display: flex;
    flex: row;
    justify-content: center; 
}

.btn{
    border: none;
    font-size:large;
} 
.btn:hover{
    color: #fe8235; 
    background: black;
}

@media screen and (max-width: 575px) {
    .GirlsPanel{
        padding-top: 40px;
        height: 500px;
    } 
  } 