.Girlsfeed{
    height: 450px;
    background: black;
    position: relative;
    font-family: 'Maven Pro', sans-serif;
    padding: 25px 49px 0px 45px;
    /* bottom: 150px solid red; */
}

@media screen and (max-width: 400px) {
    .Girlsfeed{
        max-height: 400px;
    }
  }
  